<div class="fixed w-full h-full top-0 left-0 opacity-70" style="background-color: #20252e">
    <div class="flex align-items-center justify-content-center relative">
        <div class="w-full flex justify-content-end align-items-start absolute top-0 left-0 z-1">
            <img src="assets/layout/images/pages/asset-moon.svg" alt="avalon-layout" />
        </div>
        <div class="h-screen flex justify-content-center align-items-center w-full lg:w-6"
            style="background-color: rgba(76, 86, 106, 0.3)">
            <div class="z-5 w-6 h-6">
                <span class="text-lg bg-yellow-500 p-1 px-2 border-round-md text-color">401</span>
                <h1 class="text-6xl font-light my-4 mx-0 text-bluegray-300">Access Denied</h1>
                <div class="w-7rem" style="height: 1px; background-color:#9199a9"></div>
                <p class="mt-4 text-lg text-bluegray-100">You do not have the necesary permisions. Please contact admins.</p>
                <button pButton pRipple type="button" [routerLink]="['/']" label="Go To DashBoard"
                    class="mt-5 border-none" style="background-color: #5e81ac;"></button>
            </div>
        </div>
    </div>
</div>