<div class="grid">
    <div class="col-12">
        <div>
            <div class="p-0 pb-2 surface-card">
                <div class="grid mx-0 p-6 bg-primary">
                    <div class="col-6 text-left">
                        <img src="assets/layout/images/extensions/prime-logo.svg" alt="avalon-layout"/>
                        <p>9137 3rd Lane California City, CA 93504.</p>
                    </div>
                    <div class="col-6 text-right">
                        <h1 class="text-3xl text-color">INVOICE</h1>
                        <p>30/08/2019</p>
                    </div>
                </div>
                <div class="p-0 pb-6 w-full">
                    <div class="grid pb-0 pt-2 px-6 -mt-6">
                        <div class="col-4">
                            <h2 class="m-0 text-sm font-bold text-color surface-card p-2 px-3 inline border-round-md">BILL TO </h2>
                        </div>
                        <div class="col-3">
                            <h2 class="m-0 text-sm font-bold text-color surface-card p-2 px-3 inline border-round-md">DATE </h2>
                        </div>
                        <div class="col-2 text-right">
                            <h2 class="m-0 text-sm font-bold text-color surface-card p-2 px-3 inline border-round-md">INVOICE NO </h2>
                        </div>
                        <div class="col-3 text-right">
                            <h2 class="m-0 text-sm font-bold text-color surface-card p-2 px-3 inline border-round-md">NOTES </h2>
                        </div>
                    </div>
                    <div class="grid py-2 px-5 font-medium text-color">
                        <div class="col-4">
                            <p class="m-0 text-sm font-bold text-color surface-card inline border-round-md">TOYOKSU SYSCOM CORPORATION 11-27, MEIEKI 4-CHROME
                                NAKAMURA-KU, NAGOYA 450-0002 JAPAN </p>
                        </div>
                        <div class="col-3">
                            <p class="m-0 text-sm font-bold text-color surface-card inline border-round-md">30/08/2019 </p>
                        </div>
                        <div class="col-2 text-right">
                            <p class="m-0 text-sm font-bold text-color surface-card inline border-round-md">A/3100 </p>
                        </div>
                        <div class="col-3 text-right">
                            <p class="m-0 text-sm font-bold text-color surface-card inline border-round-md">N/A </p>
                        </div>
                    </div>
                </div>
                <hr class="border-none border-top-1 text-0 surface-card h-3rem m-3"/>
                <div class="p-0 pb-6 w-full">
                    <div class="grid mx-0 pb-0 pt-2 px-3">
                        <div class="col-5">
                            <h2 class="m-0 text-base font-bold text-color surface-card p-2 inline border-round-md text-left">DESCRIPTION </h2>
                        </div>
                        <div class="col-2 text-right">
                            <h2 class="m-0 text-base font-bold text-color surface-card p-2 inline border-round-md">QUANTITY </h2>
                        </div>
                        <div class="col-2 text-right">
                            <h2 class="m-0 text-base font-bold text-color surface-card p-2 inline border-round-md">UNIT PRICE </h2>
                        </div>
                        <div class="col-3 text-right">
                            <h2 class="m-0 text-base font-bold text-color surface-card p-2 inline border-round-md">LINE TOTAL</h2>
                        </div>
                    </div>
                    <div class="grid mx-0 py-2 px-5 font-medium text-color surface-section">
                        <div class="col-5">
                            <p>1 Year PrimeFaces Elite Subscription </p>
                        </div>
                        <div class="col-2 text-right">
                            <p class="m-0">4 </p>
                        </div>
                        <div class="col-2 text-right">
                            <p class="m-0">$99.00</p>
                        </div>
                        <div class="col-3 text-primary text-right">
                            <p class="m-0">$396.00 </p>
                        </div>
                    </div>
                    <div class="grid mx-0 py-2 px-5 font-medium text-color">
                        <div class="col-5">
                            <p class="m-0">PrimeFaces Avalon Extended License </p>
                        </div>
                        <div class="col-2 text-right">
                            <p class="m-0">1</p>
                        </div>
                        <div class="col-2 text-right">
                            <p class="m-0">$790.00</p>
                        </div>
                        <div class="col-3 text-primary text-right">
                            <p class="m-0">$790.00 </p>
                        </div>
                    </div>
                    <div class="grid mx-0 py-2 px-5 font-medium text-color surface-section">
                        <div class="col-5">
                            <p class="m-0">PrimeFaces Prestige Basic License </p>
                        </div>
                        <div class="col-2 text-right">
                            <p class="m-0">2</p>
                        </div>
                        <div class="col-2 text-right">
                            <p class="m-0">$59.00</p>
                        </div>
                        <div class="col-3 text-primary text-right">
                            <p class="m-0">$118.0</p>
                        </div>
                    </div>
                </div>
                <hr class="border-none border-top-1 text-0 surface-card h-3rem m-3"/>
                <div class="p-0 pb-6 w-full">
                    <div class="grid mx-0 pb-0 pt-2 px-6 bg-primary">
                        <div class="col-6 text-left ">
                            <h2 class="m-0 text-sm font-bold text-color surface-card p-2 inline border-round-md">BANK </h2>
                        </div>
                        <div class="col-6 text-right">
                            <h2 class="m-0 text-sm font-bold text-color surface-card p-2 inline border-round-md">TOTAL</h2>
                        </div>

                    </div>
                    <div class="grid mx-0 py-2 px-5 font-medium text-color">
                        <div class="col-2">
                            <h2 class="m-0 text-base font-bold text-color-secondary surface-card p-2 inline border-round-md">Bank</h2>
                        </div>
                        <div class="col-3 text-left">
                            <p class="m-0">BestBank </p>
                        </div>
                        <div class="col-5 text-right total">
                            <h2 class="m-0 text-base font-bold text-color-secondary surface-card p-2 inline border-round-md">Subtotal</h2>
                        </div>
                        <div class="col-2 text-primary text-right">
                            <p class="m-0">$1304.00</p>
                        </div>
                    </div>
                    <div class="grid mx-0 py-2 px-5 font-medium text-color surface-section">
                        <div class="col-2">
                            <h2 class="m-0 text-base font-bold text-color-secondary surface-card p-2 inline border-round-md">Account Beneficiary</h2>
                        </div>
                        <div class="col-3 text-left">
                            <p class="m-0">Edward Williams</p>
                        </div>
                        <div class="col-5 text-right total">
                            <h2 class="m-0 text-base font-bold text-color-secondary surface-card p-2 inline border-round-md">VAT</h2>
                        </div>
                        <div class="col-2 text-primary text-right">
                            <p class="m-0">$234.72</p>
                        </div>
                    </div>
                    <div class="grid mx-0 py-2 px-5 font-medium text-color">
                        <div class="col-2">
                            <h2 class="m-0 text-base font-bold text-color-secondary surface-card p-2 inline border-round-md">Swift</h2>
                        </div>
                        <div class="col-3 text-left">
                            <p class="m-0">PJNWBXND</p>
                        </div>
                        <div class="col-5 text-right text-primary ">
                            <h2 class="m-0 text-base font-bold text-color-secondary surface-card p-2 inline border-round-md">Total</h2>
                        </div>
                        <div class="col-2 text-primary text-right">
                            <p class="m-0">$1538.72</p>
                        </div>
                    </div>
                    <div class="grid mx-0 py-2 px-5 font-medium text-color surface-section">
                        <div class="col-2">
                            <h2 class="m-0 text-base font-bold text-color-secondary surface-card p-2 inline border-round-md">IBAN</h2>
                        </div>
                        <div class="col-10 text-left">
                            <p class="m-0">GB04420235692263866724650931</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
