<div class="h-screen bg-no-repeat bg-cover"
    style="background: url('assets/layout/images/extensions/background@2x.jpg') top; background-attachment: fixed; background-position-y: center;">
    <div class="flex flex-column h-full justify-content-end">
        <div class="flex align-items-end justify-content-center h-full">
            <div class="surface-900 w-full flex justify-content-center" style="height: 65%">
                <div style="height: 540px;" class="surface-50 w-full flex flex-column flex-shrink-0 flex-grow-0">
                    <div class="w-full shadow-3 flex relative surface-900">
                        <div class="flex w-full justify-content-center py-4">
                            <div class="flex w-full lg:w-6 justify-content-center px-3">
                                <div class="w-auto flex justify-content-center align-items-center"
                                    (click)="clickNext('register')">
                                    <div class="w-full surface-400 relative hidden" style="height: 8px;"></div>
                                    <div style="width:32px; height:32px;" class="surface-200 border-circle border-none shadow-1 cursor-pointer z-1"
                                        [ngClass]="{'bg-indigo-500': activeTab !== null}"></div>
                                </div>
                                <div class="w-full flex justify-content-center align-items-center"
                                    (click)="clickNext('tier')">
                                    <div class="w-full surface-400 relative" style="height: 8px;"
                                        [ngClass]="{'bg-indigo-500':  activeTab === 'tier' || activeTab === 'payment'}">
                                    </div>
                                    <div style="width:32px; height:32px;" class="surface-200 border-circle border-none shadow-1 cursor-pointer z-1"
                                        [ngClass]="{'bg-indigo-500':  activeTab === 'tier' || activeTab === 'payment'}">
                                    </div>
                                </div>
                                <div class="w-full flex justify-content-center align-items-center"
                                    (click)="clickNext('payment')">
                                    <div class="w-full surface-400 relative" style="height: 8px;"
                                        [ngClass]="{'bg-indigo-500':  activeTab === 'payment'}">
                                    </div>
                                    <div style="width:32px; height:32px;" class="surface-200 border-circle border-none shadow-1 cursor-pointer z-1"
                                        [ngClass]="{'bg-indigo-500': activeTab === 'payment'}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-5 hidden overflow-auto h-full surface-900 flex justify-content-center"
                        [ngClass]="{'flex flex-grow-1': activeTab === 'register'}">
                        <div class="grid h-full w-full lg:w-6">
                            <div class="col-12 flex justify-content-between align-items-center w-full">
                                <div class="flex flex-column gap-3">
                                    <h3 class="m-0 text-white">REGISTER</h3>
                                    <span class="text-400">Please complete steps to register</span>
                                </div>
                                <div><img src="assets/layout/images/extensions/icon-register.svg" alt="avalon-layout"
                                        class="layout-image"></div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div>
                                    <div class="field">
                                        <label class="text-white" for="name">Username</label>
                                        <input class="w-full" id="name" type="text" pInputText />
                                    </div>


                                    <div class="field">
                                        <label class="text-white" for="email">Email</label>
                                        <input class="w-full" id="email" type="text" pInputText />
                                    </div>


                                    <div class="field">
                                        <label class="text-white" for="password">Password</label>
                                        <input class="w-full" id="password" type="password" pInputText />
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 lg:col-6">
                                <div>
                                    <div class="field">
                                        <label class="text-white" for="timezone">Timezone</label>
                                        <p-dropdown styleClass="w-full" id="timezone" [options]="dropdownOptions1"
                                            [(ngModel)]="selectDropdownOptions1"></p-dropdown>
                                    </div>
                                    <div class="field">
                                        <label class="text-white" for="birthdate">Birthdate</label>
                                        <p-calendar styleClass="w-full relative " id="button" [(ngModel)]="birthdate"
                                            placeholder="Birthdate" [showIcon]="true" appendTo="body"></p-calendar>
                                    </div>
                                    <div class="field">
                                        <label class="text-white" for="avalon">Where did you hear Avalon</label>
                                        <p-dropdown styleClass="w-full" id="avalon" [options]="dropdownOptions2"
                                            [(ngModel)]="selectDropdownOptions2" appendTo="body"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button pButton pRipple class="w-full mt-5" type="button" label="CONTINUE"
                                    (click)="clickNext('tier')"></button>
                            </div>
                        </div>
                    </div>

                    <div class="hidden p-5 surface-900 justify-content-center"
                        [ngClass]="{'flex flex-grow-1': activeTab === 'tier'}">
                        <div class="w-full lg:w-6">
                            <div class="flex flex-column lg:flex-row gap-3 w-full">
                                <div class="flex-flex-column w-full">
                                    <div class="flex align-items-center justify-content-between">
                                        <div class="flex flex-column gap-2">
                                            <h3 class="m-0 text-white">CHOOSE TIER</h3>
                                            <span class="text-400">Now choose your account type.</span>
                                        </div>
                                        <div class="flex align-items-center">
                                            <img src="assets/layout/images/extensions/icon-tier@2x.png" width="72"
                                                height="72" alt="avalon-layout" />
                                        </div>
                                    </div>
                                    <div class="flex flex-column lg:flex-row gap-3 align-items-center mt-5 h-full">
                                        <div class="w-full flex flex-column h-full cursor-pointer"
                                            (click)="selectTier('beginner')">
                                            <div class="flex flex-column gap-2 surface-700 p-6 border-round"
                                                [ngClass]="{'bg-primary': activeCard === 'beginner'}">
                                                <span class="text-white text-2xl">BEGINNER</span>
                                                <span class="text-400">For starters and side projects</span>
                                                <div *ngIf="activeCard === 'beginner'"
                                                    class="flex justify-content-center mt-4">
                                                    <i class="pi pi-check text-white"></i>
                                                </div>
                                            </div>
                                            <div class="flex flex-column h-full surface-0 border-round-bottom">
                                                <div class="text-700 text-lg py-1 px-3 surface-100">Responsive</div>
                                                <div class="text-700 text-lg py-1 px-3">Push Message</div>
                                            </div>
                                        </div>
                                        <div class="w-full flex flex-column h-full cursor-pointer"
                                            (click)="selectTier('professional')">
                                            <div class="flex flex-column gap-2 surface-700 p-6 border-round"
                                                [ngClass]="{'bg-primary': activeCard === 'professional'}">
                                                <span class="text-white text-2xl">PROFESSIONAL</span>
                                                <span class="text-400">For companies</span>
                                                <div *ngIf="activeCard === 'professional'"
                                                    class="flex justify-content-center mt-4">
                                                    <i class="pi pi-check text-white"></i>
                                                </div>
                                            </div>
                                            <div class="flex flex-column h-full surface-0 border-round-bottom">
                                                <div class="text-700 text-lg py-1 px-3 surface-100">Responsive</div>
                                                <div class="text-700 text-lg py-1 px-3">Push Message</div>
                                            </div>
                                        </div>
                                        <div class="w-full flex flex-column h-full cursor-pointer"
                                            (click)="selectTier('enterprise')">
                                            <div class="flex flex-column gap-2 surface-700 p-6 border-round"
                                                [ngClass]="{'bg-primary': activeCard === 'enterprise'}">
                                                <span class="text-white text-2xl">ENTERPRISE</span>
                                                <span class="text-400">For custom needs</span>
                                                <div *ngIf="activeCard === 'enterprise'"
                                                    class="flex justify-content-center mt-4">
                                                    <i class="pi pi-check text-white"></i>
                                                </div>
                                            </div>
                                            <div class="flex flex-column h-full surface-0 border-round-bottom">
                                                <div class="text-700 text-lg py-1 px-3 surface-100">Responsive</div>
                                                <div class="text-700 text-lg py-1 px-3">Push Message</div>
                                            </div>
                                        </div>
                                    </div>
                                    <button pButton pRipple label="CONTINUE" class="w-full mt-5"
                                        (click)="clickNext('payment')"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="hidden flex justify-content-center surface-900 p-0"
                        [ngClass]="{'flex flex-grow-1': activeTab === 'payment'}">
                        <div class="grid grid-nogutter w-full lg:w-6 h-full">
                            <div class="lg:col-8 col-12 flex flex-column justify-content-center p-5">
                                <div class="grid grid-nogutter w-full">
                                    <div>
                                        <h3 class="m-0 text-white">PAYMENT</h3>
                                        <span class="text-400">Give me the money.</span>
                                    </div>
                                </div>
                                <div class="grid mt-3">
                                    <div class="col-12">
                                        <span class="field">
                                            <label class="text-white">Card Holder Name </label>
                                            <input class="w-full" pInputText type="text" />
                                        </span>
                                    </div>
                                </div>
                                <div class="grid">
                                    <div class="col-6">
                                        <span class="field">
                                            <label class="text-white">Card No</label>
                                            <input class="w-full" pInputText type="text" />
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <span class="field">
                                            <label class="text-white">Date</label>
                                            <input class="w-full" pInputText type="text" />
                                        </span>
                                    </div>
                                    <div class="col-3">
                                        <span class="field">
                                            <label class="text-white">CCV</label>
                                            <input class="w-full" pInputText type="text" />
                                        </span>
                                    </div>
                                    <div class="col-12">
                                        <div class="field-checkbox">
                                            <p-checkbox name="agree" value="agree" [(ngModel)]="paymentCheckbox"
                                                inputId="agree"></p-checkbox>
                                            <label for="agree" class="text-400">Save credit card information for future
                                                usage</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button pButton label="CONTINUE" class="w-full"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="lg:col-4 col-12 p-3 text-base text-gray-600">
                                <div class="flex flex-column h-full">
                                    <div class="flex flex-column gap-3 p-3 pb-5 surface-700">
                                        <span class="m-0 text-base text-300 font-medium"
                                            style="letter-spacing: 2px;">ORDER SUMMARY</span>
                                        <div class="flex justify-content-between align-items-center mt-4">
                                            <span class="text-300 text-base">Tier - <span
                                                    class="uppercase">{{activeCard}}</span></span>
                                            <span class="text-300 text-base font-medium">{{activeCard ===
                                                'professional'? '25.00$' : activeCard ===
                                                'enterprise'?'50.00$':'$5.00'}}</span>
                                        </div>
                                        <div class="flex justify-content-between align-items-center">
                                            <span class="text-300 text-base">VAT (%18)</span>
                                            <span class="text-300 text-base font-medium">{{activeCard ===
                                                'professional'? '4.50$' : activeCard ===
                                                'enterprise'?'9.00$':'$0.90'}}</span>
                                        </div>
                                    </div>
                                    <div class="h-full surface-800">
                                        <div class="flex p-3 justify-content-between pt-5">
                                            <span class="text-300 text-base">Total</span>
                                            <span class="text-300 text-base font-medium">{{activeCard ===
                                                'professional'? '29.50$' : activeCard ===
                                                'enterprise'?'59.00$':'$5.90'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>