.layout-topbar-grey {
    --topbar-bg: #616161;
    --topbar-menu-button-bg: #0097A7;
    --topbar-menu-button-hover-bg: #008593;
    --topbar-menu-button-text-color: #ffffff;
    --topbar-item-text-color: #ffffff;
}
