<div class="fixed w-full h-full top-0 left-0 opacity-70" style="background-color: #d07b70">
    <div class="flex align-items-center justify-content-center relative">
        <div class="w-full flex justify-content-end align-items-start absolute top-0 left-0 z-1">
            <img src="assets/layout/images/pages/asset-moon.svg" alt="avalon-layout" />
        </div>
        <div class="h-screen flex justify-content-center align-items-center w-full lg:w-6"
            style="background-color: rgba(0, 0, 0, 0.3)">
            <div class="z-5 w-6 h-6">
                <i class="pi pi-exclamation-triangle text-2xl bg-pink-700 p-2 border-round-md text-white"></i>
                <h1 class="text-6xl font-light my-4 mx-0 text-bluegray-300">Error Occured</h1>
                <div class="w-7rem" style="height: 1px; background-color:#9199a9 ;"></div>
                <p class="mt-4 text-lg text-bluegray-100">Something went wrong. </p>
                <button pButton pRipple type="button" [routerLink]="['/']" label="Go To DashBoard"
                    class="mt-5 border-none" style="background-color: #5e81ac;"></button>
            </div>
        </div>
    </div>
</div>