<div>
    <div class="bg-cover bg-no-repeat bg-center py-6"
        style="background: url(/assets/layout/images/landing/landing-main.jpg)">
        <div class="my-0 mx-auto" style="width: 1200px">
            <div class="flex justify-content-between">
                <div class="flex w-4 align-items-center gap-4">
                    <ul class="list-none flex gap-6 text-lg p-0 m-0">
                        <a href="#" class="text-white">
                            <li>Home</li>
                        </a>
                        <a href="#" class="text-white">
                            <li>Features</li>
                        </a>
                        <a href="#" class="text-white">
                            <li>Events</li>
                        </a>
                        <a href="#" class="text-white">
                            <li>Pricing</li>
                        </a>
                        <a href="#" class="text-white">
                            <li>Video</li>
                        </a>
                    </ul>
                </div>
                <div class="flex w-4 justify-content-center">
                    <img src="/assets/layout/images/landing/logo-landing.svg" class="logo" />
                </div>
                <div class="flex w-4 justify-content-end align-items-center gap-3">
                    <button pButton pRipple label="Login"
                        class="w-8rem p-button-outlined text-white hover:text-color hover:bg-white"></button>
                    <button pButton pRipple label="Register"
                        class="w-8rem p-button-outlined text-white hover:text-color hover:bg-white"></button>
                </div>
            </div>
            <div class="flex flex-column align-items-center gap-5 mt-6 pt-0" style="padding: 150px;">
                <span class="text-white text-4xl">PrimeNG Presents Avalon</span>
                <span class="text-white text-2xl text-center line-height-3">Minimal and elegant responsive application
                    template with a premium look for PrimeNG
                    components.</span>
                <button pButton pRipple label="Learn More" class="w-12rem p-button-sm"></button>
            </div>
        </div>
    </div>

    <div class="grid grid-nogutter justify-content-center">
        <div class="flex justify-content-center py-6" style="width: 1200px">
            <div class="col-12 md:col-6 lg:col-3">
                <div class="relative h-4rem">
                    <img class="absolute bottom-0" src="/assets/layout/images/landing/icon-responsivelayout.svg" />
                </div>
                <h3 class="text-2xl font-medium">Responsive Layout</h3>
                <p class="text-base m-0 mt-2 text-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                    eiusmod tempor incididunt dolor magna aliqua.</p>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="relative h-4rem">
                    <img class="absolute bottom-0" src="/assets/layout/images/landing/icon-moderndesign.svg" />
                </div>
                <h3 class="text-2xl font-medium">Modern Design</h3>
                <p class="text-base m-0 mt-2 text-color">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="relative h-4rem">
                    <img class="absolute bottom-0" src="/assets/layout/images/landing/icon-welldocumented.svg" />
                </div>
                <h3 class="text-2xl font-medium">Well Documented</h3>
                <p class="text-base m-0 mt-2 text-color">Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.</p>
            </div>
            <div class="col-12 md:col-6 lg:col-3">
                <div class="relative h-4rem">
                    <img class="absolute bottom-0" src="/assets/layout/images/landing/icon-cleancode.svg" />
                </div>
                <h3 class="text-2xl font-medium">Clean Code</h3>
                <p class="text-base m-0 mt-2 text-color">Excepteur sint occaecat cupidatat non proident, sunt in culpa
                    qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>

    <div class="surface-ground relative overflow-hidden" style="height: 400px;">
        <div class="my-0 mx-auto pt-6" style="width: 1200px; padding-left: 100px;">
            <img src="/assets/layout/images/landing/icon-introducing.svg" class="mb-5 w-6rem" />
            <h2 class="m-0 p-0 text-color text-2xl m-0 mx-auto">Introducing PrimeNG Avalon</h2>
            <p class="text-color-secondary" style="width: 400px; line-height: 1.5;">Lorem ipsum dolor sit amet,
                consectetur adipiscing elit. Curabitur velit neque, aliquam sed dolor eu,
                sagittis rutrum erat. Donec eu risus vitae tellus rhoncus iaculis.</p>
        </div>
        <img src="/assets/layout/images/landing/image-discover.png" class="absolute right-0 bottom-0"
            style="width: 800px" />
    </div>

    <div class="grid grid-nogutter justify-content-center" style="background-color: #6d6d7e;">
        <div class="flex justify-content-center py-6" style="width: 1200px;">
            <div class="col-12 lg:col-4">
                <div class="p-5 bg-pink-600">
                    <img src="/assets/layout/images/landing/icon-ui.svg" />
                    <p class="text-white font-semibold text-lg">UI Components</p>
                    <p class="text-white font-semibold text-lg">100+</p>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-5 bg-blue-600">
                    <img src="/assets/layout/images/landing/icon-hours.svg" />
                    <p class="text-white font-semibold text-lg">Hours of Development</p>
                    <p class="text-white font-semibold text-lg">425</p>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="p-5 bg-purple-600">
                    <img src="/assets/layout/images/landing/icon-coffee.svg" />
                    <p class="text-white font-semibold text-lg">Cups of Coffee Consumed</p>
                    <p class="text-white font-semibold text-lg">129</p>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-nogutter justify-content-center">
        <div class="flex justify-content-center py-6" style="width: 1200px;">
            <div class="col-12 lg:col-4">
                <div class="border-1 surface-border surface-section h-full text-color border-round">
                    <div class="p-5 border-bottom-1 surface-border">
                        <h3 class="text-xl m-0 mb-2 text-color-secondary">Beginner</h3>
                        <span class="text-bluegray-200 font-bold">For starters and side projects</span>
                        <p class="text-color-secondary mt-1">$10 / per year</p>
                    </div>
                    <div>
                        <ul class="p-0 mt-0" style="min-height: 175px;">
                            <li class="list-none p-2 pl-4 border-bottom-1 surface-border"><span
                                    class="text-color-secondary">Responsive</span></li>
                            <li class="list-none p-2 pl-4 border-bottom-1 surface-border"><span
                                    class="text-color-secondary">Push Messages</span></li>
                        </ul>
                    </div>
                    <div class="py-2 px-4">
                        <button pButton pRipple class="flex justify-content-center w-full">Get Started</button>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="border-1 surface-border surface-section h-full text-color border-round">
                    <div class="p-5 border-bottom-1 surface-border">
                        <h3 class="text-xl m-0 mb-2 text-color-secondary">For best professionals</h3>
                        <span class="text-bluegray-200 font-bold">For starters and side projects</span>
                        <p class="text-color-secondary mt-1">$25 / per year</p>
                    </div>
                    <div>
                        <ul class="p-0 mt-0" style="min-height: 175px;">
                            <li class="list-none p-2 pl-4 border-bottom-1 surface-border"><span
                                    class="text-color-secondary">Responsive</span></li>
                            <li class="list-none p-2 pl-4 border-bottom-1 surface-border"><span
                                    class="text-color-secondary">Push Messages</span></li>
                            <li class="list-none p-2 pl-4 border-bottom-1 surface-border"><span
                                    class="text-color-secondary">7/24 Support</span></li>
                        </ul>
                    </div>
                    <div class="py-2 px-4">
                        <button pButton pRipple class="flex justify-content-center w-full">Get Started</button>
                    </div>
                </div>
            </div>
            <div class="col-12 lg:col-4">
                <div class="border-1 surface-border surface-section h-full text-color border-round">
                    <div class="p-5 border-bottom-1 surface-border">
                        <h3 class="text-xl m-0 mb-2 text-color-secondary">For serious companies</h3>
                        <span class="text-bluegray-200 font-bold">For starters and side projects</span>
                        <p class="text-color-secondary mt-1">Get a quote</p>
                    </div>
                    <div>
                        <ul class="p-0 mt-0" style="min-height: 175px;">
                            <li class="list-none p-2 pl-4 border-bottom-1 surface-border"><span
                                    class="text-color-secondary">Responsive</span></li>
                            <li class="list-none p-2 pl-4 border-bottom-1 surface-border"><span
                                    class="text-color-secondary">Push Messages</span></li>
                            <li class="list-none p-2 pl-4 border-bottom-1 surface-border"><span
                                    class="text-color-secondary">7/24 High Priority Support</span></li>
                            <li class="list-none p-2 pl-4 border-bottom-1 surface-border"><span
                                    class="text-color-secondary">Free Shipping</span></li>
                        </ul>
                    </div>
                    <div class="py-2 px-4">
                        <button pButton pRipple class="flex justify-content-center w-full">Get a Quote</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-nogutter justify-content-center bg-gray-100">
        <div class="flex justify-content-center py-6" style="width: 1200px;">
            <div class="col-12 md:col-6 text-center">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WVkX7gkNeyA" frameborder="0"
                    allowfullscreen="true"></iframe>
            </div>
            <div class="col-12 md:col-6 text-right">
                <img src="/assets/layout/images/landing/icon-video.svg" class="mb-5 w-6rem" />
                <h2>Introducing PrimeNG Avalon</h2>
                <p style="line-height: 1.5;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur velit
                    neque, aliquam sed dolor eu,
                    sagittis rutrum erat.</p>
                <button pButton pRipple>Learn More</button>
            </div>
        </div>
    </div>

    <div class="grid grid-nogutter justify-content-center" style="background-color: #292b2c;">
        <div class="flex align-items-center" style="width: 1200px;">
            <div class="col-12 md:col-6">
                <img src="/assets/layout/images/landing/avalon.png" />
            </div>
            <div class="col-12 md:col-6">
                <ul class="list-none m-0 mt-5 text-center p-0">
                    <div class="grid">
                        <div class="col-12 md:col-6" style="text-align: center">
                            <li class="block text-lg text-left py-1">
                                <a class="text-white border-bottom-1 border-transparent hover:border-white"
                                    href="#home">Home</a>
                            </li>
                            <li class="block text-lg text-left py-1">
                                <a class="text-white border-bottom-1 border-transparent hover:border-white"
                                    href="#features">Features</a>
                            </li>
                            <li class="block text-lg text-left py-1">
                                <a class="text-white border-bottom-1 border-transparent hover:border-white"
                                    href="#statistics">Events</a>
                            </li>
                        </div>
                        <div class="col-12 md:col-6" style="text-align: center">
                            <li class="block text-lg text-left py-1">
                                <a class="text-white border-bottom-1 border-transparent hover:border-white"
                                    href="#pricing">Pricing</a>
                            </li>
                            <li class="block text-lg text-left py-1">
                                <a class="text-white border-bottom-1 border-transparent hover:border-white"
                                    href="#video">Video</a>
                            </li>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>