<div class="layout-topbar">
    <div class="layout-topbar-start">
        <a class="layout-topbar-logo" routerLink="/">
            <svg width="167" height="40" viewBox="0 0 64 21" fill="none" xmlns="http://www.w3.org/2000/svg%22%3E">
                <path d="M3.528 0.399995H7.7L10.892 20H7.812L7.252 16.108V16.164H3.752L3.192 20H0.335999L3.528 0.399995ZM6.888 13.504L5.516 3.816H5.46L4.116 13.504H6.888Z" fill="var(--topbar-item-text-color)" />
                <path d="M10.7813 0.399995H13.8893L15.9053 15.604H15.9613L17.9773 0.399995H20.8053L17.8373 20H13.7493L10.7813 0.399995Z" fill="var(--topbar-item-text-color)" />
                <path d="M26.682 20.28C25.17 20.28 24.0127 19.8507 23.21 18.992C22.4074 18.1333 22.006 16.92 22.006 15.352V5.048C22.006 3.48 22.4074 2.26666 23.21 1.408C24.0127 0.549329 25.17 0.119995 26.682 0.119995C28.194 0.119995 29.3514 0.549329 30.154 1.408C30.9567 2.26666 31.358 3.48 31.358 5.048V15.352C31.358 16.92 30.9567 18.1333 30.154 18.992C29.3514 19.8507 28.194 20.28 26.682 20.28ZM26.682 17.48C27.746 17.48 28.278 16.836 28.278 15.548V4.852C28.278 3.564 27.746 2.92 26.682 2.92C25.618 2.92 25.086 3.564 25.086 4.852V15.548C25.086 16.836 25.618 17.48 26.682 17.48Z" fill="var(--topbar-item-text-color)" />
                <path d="M33.441 0.399995H36.521V17.2H41.589V20H33.441V0.399995Z" fill="var(--topbar-item-text-color)" />
                <path d="M47.4086 20.28C45.8966 20.28 44.7393 19.8507 43.9366 18.992C43.1339 18.1333 42.7326 16.92 42.7326 15.352V5.048C42.7326 3.48 43.1339 2.26666 43.9366 1.408C44.7393 0.549329 45.8966 0.119995 47.4086 0.119995C48.9206 0.119995 50.0779 0.549329 50.8806 1.408C51.6833 2.26666 52.0846 3.48 52.0846 5.048V15.352C52.0846 16.92 51.6833 18.1333 50.8806 18.992C50.0779 19.8507 48.9206 20.28 47.4086 20.28ZM47.4086 17.48C48.4726 17.48 49.0046 16.836 49.0046 15.548V4.852C49.0046 3.564 48.4726 2.92 47.4086 2.92C46.3446 2.92 45.8126 3.564 45.8126 4.852V15.548C45.8126 16.836 46.3446 17.48 47.4086 17.48Z" fill="var(--topbar-item-text-color)" />
                <path d="M54.1675 0.399995H58.0315L61.0275 12.132H61.0835V0.399995H63.8275V20H60.6635L56.9675 5.692H56.9115V20H54.1675V0.399995Z" fill="var(--topbar-item-text-color)" />
            </svg>
        </a>
        <a #menuButton class="layout-menu-button" (click)="onMenuButtonClick()" pRipple>
            <i class="pi pi-angle-right"></i>
        </a>

        <a #mobileMenuButton class="layout-topbar-mobile-button" (click)="onMobileTopbarMenuButtonClick()" pRipple>
            <i class="pi pi-bars text-4xl"></i>
        </a>
    </div>

    <div class="layout-topbar-end">
        <div class="layout-topbar-actions-end">
            <ul class="layout-topbar-items">
                <li class="layout-topbar-search">
                    <input type="text" placeholder="Search">
                    <i class="pi-fw pi pi-search"></i>
                </li>
                <li>
                    <a pStyleClass="@next" enterClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple>
                        <i class="pi pi-bell"></i>
                    </a>
                <div class="ng-hidden">
                    <ul class="list-none p-0 m-0">
                        <li>
                            <a class="py-2 px-3 flex gap-2 cursor-pointer text-color hover:text-primary">
                                <i class="pi pi-fw pi-sliders-h text-lg"></i>
                                <span>Pending tasks</span>
                            </a>
                        </li>
                        <li>
                            <a class="py-2 px-3 flex gap-2 cursor-pointer text-color hover:text-primary ">
                                <i class="pi pi-fw pi-calendar text-lg"></i>
                                <span>Meeting today at 3pm</span>
                            </a>
                        </li>
                        <li>
                            <a class="py-2 px-3 flex gap-2 cursor-pointer text-color hover:text-primary">
                                <i class="pi pi-fw pi-download text-lg"></i>
                                <span>Download documents</span>
                            </a>
                        </li>
                        <li>
                            <a class="py-2 px-3 flex gap-2 cursor-pointer text-color hover:text-primary">
                                <i class="pi pi-fw pi-bookmark text-lg"></i>
                                <span>Book flight</span>
                            </a>
                        </li>
                    </ul>
                </div>


                </li>
                <li>
                    <a pStyleClass="@next" enterClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple>
                        <i class="pi pi-envelope"></i>
                    </a>
                    <div class="ng-hidden">
                        <ul class="list-none p-0 m-0 flex flex-column text-color">
                            <li>
                                <a class="cursor-pointer flex align-items-center px-3 py-2 gap-3 hover:text-primary">
                                    <img src="assets/layout/images/avatar5.png" class="w-3rem h-3rem">
                                    <span>Give me a call</span>
                                </a>
                            </li>
                            <li>
                                <a class="cursor-pointer flex align-items-center px-3 py-2 gap-3 hover:text-primary">
                                    <img src="assets/layout/images/avatar1.png" class="w-3rem h-3rem">
                                    <span>Sales reports attached</span>
                                </a>
                            </li>
                            <li>
                                <a class="cursor-pointer flex align-items-center px-3 py-2 gap-3 hover:text-primary">
                                    <img src="assets/layout/images/avatar2.png" class="w-3rem h-3rem">
                                    <span>About your invoice</span>
                                </a>
                            </li>
                            <li>
                                <a class="cursor-pointer flex align-items-center px-3 py-2 gap-3 hover:text-primary">
                                    <img src="assets/layout/images/avatar3.png" class="w-3rem h-3rem">
                                    <span>Meeting today at 10pm</span>
                                </a>
                            </li>
                            <li>
                                <a class="cursor-pointer flex align-items-center px-3 py-2 gap-3 hover:text-primary">
                                    <img src="assets/layout/images/avatar4.png" class="w-3rem h-3rem">
                                    <span>Out of office</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a pStyleClass="@next" enterClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden" leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple>
                     <i class="pi pi-cog"></i>
                    </a>
                    <div class="ng-hidden">
                        <ul class="list-none p-0 m-0">
                            <li>
                                <a class="py-2 px-3 flex gap-2 cursor-pointer text-color hover:text-primary">
                                    <i class="pi pi-fw pi-palette text-lg"></i>
                                    <span>Change Theme</span>
                                </a>
                            </li>
                            <li>
                                <a class="py-2 px-3 flex gap-2 cursor-pointer text-color hover:text-primary ">
                                    <i class="pi pi-fw pi-star text-lg"></i>
                                    <span>Favorites</span>
                                </a>
                            </li>
                            <li>
                                <a class="py-2 px-3 flex gap-2 cursor-pointer text-color hover:text-primary">
                                    <i class="pi pi-fw pi-lock text-lg"></i>
                                    <span>Lock Screen</span>
                                </a>
                            </li>
                            <li>
                                <a class="py-2 px-3 flex gap-2 cursor-pointer text-color hover:text-primary">
                                    <i class="pi pi-fw pi-image text-lg"></i>
                                    <span>Wallpaper</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
