<div style="background-color: #eceff4;">
    <div class="flex justify-content-center align-items-center">
        <div class="w-5 h-screen text-center flex align-items-center justify-content-center"
            style="background: rgba(216, 222, 233, 0.3)">
            <div class="z-5 w-8 px-6 text-center">
                <div class="w-full flex align-items-center justify-content-center">
                    <img src="assets/layout/images/logo-avalon.png" alt="avalon-layout" class="w-6rem" />
                </div>
                <h1 class="text-4xl font-light mt-4">Sign in to Avalon</h1>
                <p>Welcome, please use the form to sign-in Avalon network</p>
                <div class="mt-5 text-left">
                    <label for="username" class="block mb-2" style="color:#4c566a">Username</label>
                    <span class="p-input-icon-right block">
                        <i class="pi pi-user"></i>
                        <input id="username" type="text" pInputText class="w-full" />
                    </span>
                    
                    <label for="username" class="block mb-2 mt-3" style="color:#4c566a">Password</label>
                    <span class="p-input-icon-right block">
                        <i class="pi pi-lock"></i>
                        <input type="password" pInputText class="w-full" />
                    </span>
                    
                    <p-checkbox label="Remember me" value="SaveInfo" [binary]="true" class="mt-5"></p-checkbox>
                    
                    <div class="flex align-items-center justify-content-between mt-4">
                        <button pButton type="button" [routerLink]="['/']" label="Login" class="w-10rem"></button>
                        <a href="#" class="secondary-button">Forget Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>