<div>
    <p-fieldset legend="Gestion des profils utilisateurs"  styleClass="custom-fieldset">
        <ng-template pTemplate="header">
          <div class="fieldset-header">
              <div class="header-description ont-bold">
                   <h3> Dans cette section, vous trouverez la liste complète des profils utilisateurs, avec toutes les informations enregistrées sur leurs interactions et comportements au sein de la plateforme. Cela vous permet de suivre les actions des utilisateurs de manière détaillée, d'analyser les tendances et d'ajuster vos stratégies en fonction des besoins individuels et des groupes d'utilisateurs.
                </h3>
                </div>  
          </div>
      </ng-template>
      
      <p-chart type="bar" [data]="data" [options]="{ responsive: true, maintainAspectRatio: false }" class="h-[30rem]" />
      </p-fieldset>
    
</div>

<div class="card">
    <div class="loader" *ngIf="loading">
        <div class="animation">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
        </div>
        <div class="text">Chargement des profils...</div>
    </div>
    <div *ngIf="error">{{ error }}</div>
    <div *ngIf="!loading && !error" class="profiles-container">
        <div
            *ngFor="let profile of profiles"
            class="profile-container"
            (click)="handleClick(profile)"
            [ngClass]="{ clicked: activeProfile === profile }"
        >
            <div class="profile-photo">
                <img
                    [src]="profile.imageUrl || '../../../../../assets/demo/images/profil.jpg'"
                    alt="Photo de profil"
                />
            </div>
            <div class="profile-details">
                <h3 class="profile-name">  Identifiant du Profile : </h3>
                <h3 class="profile-name">  {{ profile.itemId || 'Utilisateur' }}</h3>
                <div *ngIf="profileContexts.length > 0">
                    <div *ngFor="let context of profileContexts" class="context-box">
                        <!-- <p><strong>Propriétés  :</strong> {{ context.profileProperties.firstName || 'INCONNU'}} {{ context.profileProperties.lastName || 'INCONNU'}} </p> -->
                    </div>
                </div>    
                    <div class="profile-badge">
                    <span class="admin-badge"> Derniere visite : {{ profile.lastVisit}}</span>
                </div>
            </div>
        </div>
    </div>
</div>

<p-dialog
    header="Détails du Profil"
    [(visible)]="profileDialog"
    [modal]="true"
    [style]="{ width: '70vw' }"
    [breakpoints]="{ '960px': '75vw' }"
    class="custom-dialog"
>
    <div class="card-containerr">
        <div class="cardd">
            <div class="card-topp">
                <div class="profile-container">
                    <div class="profile-details">
                        <div *ngIf="profileContexts.length > 0">
                            <div *ngFor="let context of profileContexts" class="context-box">
                                <p><strong>Nom:  :</strong> {{ context.profileProperties.firstName || "INCONNU"}}</p>
                                <p><strong>Prenoms :  :</strong> {{ context.profileProperties.lastName || "INCONNU" }}</p>
                                <p><strong>Dernière Visite   :</strong> {{ context.profileProperties.lastVisit }}</p>
                                <p><strong>Premiere visite  :</strong> {{ context.profileProperties.firstVisit }}</p>
                                <p><strong>Nombre de viiste   :</strong> {{ context.profileProperties.nbOfVisits }}</p>

                            </div>
                        </div>    
                    </div>
                    <div class="profile-photo">
                        <img
                            src="../../../../../assets/demo/images/profil.jpg"
                            alt="Photo de profil par défaut"
                        />
                    </div>
                </div>
            </div>
            <div class="card-bottomm">
               
                <p-fieldset legend="Profile Metadata">
                    <div *ngIf="profileContexts.length > 0">
                        <div *ngFor="let context of profileContexts" class="context-box">
                            <!-- <p><strong>Scores :</strong> {{ context.scores | json }}</p>
                            <p><strong>Segments :</strong> {{ context.segments | json }}</p>
                            <p><strong>Scores :</strong> {{ context.scores | json }}</p>
                            <p><strong>Propriétés de session :</strong> {{ context.sessionProperties | json }}</p>
                            <p><strong>Propriétés  :</strong> {{ context.profileProperties | json }}</p>
                            <p><strong>Propriétés  :</strong> {{ context.profileProperties.firstName }}</p> -->
                        </div>
                    </div>
                    <div *ngIf="profileContexts.length === 0">
                        <p>Aucune information contextuelle disponible.</p>
                    </div>
                </p-fieldset>
                
            </div>
        </div>

        <div class="cardd">
            <div class="card-contentt">
                <p-fieldset legend="Événements associés  ">
                    <div class="events-timeline">
                        <div *ngIf="filteredEvents.length > 0" class="events-list">
                            <div *ngFor="let event of filteredEvents" class="event-item">
                                <!-- En-tête de l'événement -->
                                <div class="event-header">
                                    <div class="event-line">
                                        <div class="event-dot"></div>
                                    </div>
                                    <div class="event-main-info">
                                        <div class="event-time">
                                            <i class="pi pi-clock"></i> {{ event.timeStamp }}
                                            <span class="event-type">{{ event.eventType }}</span>
                                        </div>
                                        <div class="event-type"></div>
                                    </div>
                                </div>
                                
                                <!-- Détails de l'événement -->
                                <div class="event-details">
                                    <div class="details-column">
                                        <ul class="detail-list">
                                            <li>
                                                <span class="detail-label">URL du Site :</span>
                                                <span class="detail-value">{{ getDestinationURL(event) }}</span>
                                            </li>
                                            <li>
                                                <span class="detail-label">Nom de la page  : </span>
                                                <span class="detail-value">{{ getPage(event) }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="filteredEvents.length === 0" class="no-events">
                            <p>Aucun événement trouvé pour ce profil.</p>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </div>
</p-dialog>